<div class="jumbotron text-center">
    <h1>Home Page</h1>
    <p>Basic Rails app</p>
</div>
<div class="container">
    <h2>About This Page</h2>
    <p>This is basic Rails app where you can view, add, edit, and delete Brazilian JiuJitsu Techniques and Notes.
</div>
<div class"container">
    <h2>Table of Contents</h2>
    <ul class="list-group">
        <li class="list-group-item">Techniques</li>
        <li class="list-group-item">Technique Notes</li>
        <li class="list-group-item">Technique Types</li>
        <li class="list-group-item">Positions</li>
        <li class="list-group-item">Schema Diagram</li>
</ul>
</div>